.component {
    display: flex;
    align-items: start;
    justify-content: center;
    /* width: 100%;
    height: 100%; */

}

.canvas-border {
    border: 2px solid #333;
    border-radius: 4px;
    /* optional: rounded corners */
}